.hero__title {
  @apply relative z-10 w-fit text-fs-44 text-white font-bold uppercase lg:text-fs-55;

  &::before {
    @apply content-[''] absolute bottom-0 left-0 right-0 h-1/3 rounded-3xl bg-orange z-[-1];
  }
}

.hero__btn-dropdown {
  @apply relative flex items-center justify-center border border-blue bg-orange text-white rounded-full w-[38px] h-[38px] text-fs-0 hover:after:border-blue;

  &::after {
    @apply content-[''] absolute top-0 left-0 w-full h-full border-4 border-white transition-colors duration-300 rounded-full;
  }
}

[data-icon="taobao"]::after {
  background: url(/assets/icon/taobao.png) no-repeat center center;
  background-size: 30px 30px;
}

[data-icon="tmall"]::after {
  background: url(/assets/icon/tmall.png) no-repeat center center;
  background-size: 30px 30px;
}

[data-icon="1688"]::after {
  background: url(/assets/icon/1688.png) no-repeat center center;
  background-size: 30px 30px;
}

.hero__content-dropdown {
  @apply flex flex-col border border-black/10 absolute bottom-full left-0 min-w-[160px] bg-white rounded-md py-2 opacity-0 invisible transition-opacity duration-300;

  .is-show & {
    @apply opacity-100 visible;
  }
}

.hero__content-dropdown-item {
  @apply flex gap-2 items-center px-3 py-1 transition-colors duration-300 hover:bg-black/10;
}
